@{
    ViewBag.Title = "Index";
}

<h3>数据统计图</h3>

<div class="row-fluid">
    <div>
        @Html.Action("GetCompanyCountChart")
    </div>
    <hr />
    <div>
        @Html.Action("GetMeetCountChart")
    </div>
    <div>
        @Html.Action("GetCompanyTicketCountChart",new { companyName = "重庆市联丰航空服务有限公司" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/highcharts")
}
