<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
        font-size: 14px;
    }

    #mapContainer {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    #result {
        width: 100%;
    }

    li {
        line-height: 28px;
    }

    .cityList {
        height: 320px;
        width: 372px;
        overflow-y: auto;
    }

    .sel_container {
        z-index: 9999;
        font-size: 12px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 140px;
        background: rgba(255,255,255,0.8);
        height: 30px;
        line-height: 30px;
        padding: 5px;
    }

    .map_popup {
        position: absolute;
        z-index: 200000;
        width: 382px;
        height: 344px;
        right: 0px;
        top: 40px;
    }

        .map_popup .popup_main {
            background: #fff;
            border: 1px solid #8BA4D8;
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;
            z-index: 2;
        }

        .map_popup .title {
            background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
            color: #6688CC;
            font-weight: bold;
            height: 24px;
            line-height: 25px;
            padding-left: 7px;
        }

        .map_popup button {
            background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
            cursor: pointer;
            height: 12px;
            position: absolute;
            right: 4px;
            top: 6px;
            width: 12px;
        }
</style>

@{
    ViewBag.Title = "联系邮箱";
}
<h3>@ViewBag.Title</h3>

<div class="row-fluid">
    <hr />
    <div>
        <div id="mapContainer"></div>
        <div id="result">
            <input type="text" id="inputAddress" /><input type="button" id="btnGetAddressPoint" onclick="searchByStationName()" value="获取坐标" />
            <input type="text" id="inputAddressPoint" />
            <input type="button" id="showAllCompanyAddress" onclick="showAllCompanyMarker()" value="显示所有公司" />
            <button id="open">打开</button><button id="close">关闭</button>
        </div>
    </div>
</div>

<address>
    <strong>反馈:</strong>   <a href="mailto:jinyuan.li@qunar.com">jinyuan.li@qunar.com</a><br />
</address>

@section Scripts {
    @*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5CGXov1bFod0nc1Fs5OzHNSIOToSwW57"></script>*@
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IVIzjCHkCZHmpKeh0aTHZbcwuZBPEUza"></script>
    <!-- 加载百度地图样式信息窗口 -->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
}

<script type="text/javascript">
    var map = new BMap.Map("mapContainer");
    map.centerAndZoom("北京", 12);
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    function searchByStationName() {
        map.clearOverlays();//清空原来的标注
        var keyword = document.getElementById("inputAddress").value;
        alert(keyword);
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            document.getElementById("inputAddressPoint").value = poi.point.lng + "," + poi.point.lat;
            map.centerAndZoom(poi.point, 13);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
            map.addOverlay(marker);
            var content = document.getElementById("inputAddress").value + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
            var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
            marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
            // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        });
        localSearch.search(keyword);
    }
    //id,公司名，地名，推广名，域名
    var showAllCompanyMarker= function(){
        //模拟两个公司，定位两个点
        addMapMarker(1, "北京市天安门", "北京广发机票代理公司");
        addMapMarker(2, "北京市东升科技园", "北京去哪儿机票代理公司");
    }
    var addMapMarker = function (id, address, companyName) {
        var localSearch = new BMap.LocalSearch(map);
        localSearch.enableAutoViewport(); //允许自动调节窗体大小
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
            map.addOverlay(marker);
            var content = id+":"+ companyName + "<br/><br/>地址：" + address + "<br/>";
            var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
            
            marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
            // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        });
        localSearch.search(address);
    }
</script>
