@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:jinyuan.li@qunar.com">jinyuan.li@qunar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jinyuan.li@qunar.com">jinyuan.li@qunar.com</a>
</address>